*{
box-sizing:border-box;
font-family: "Segoe UI", sans-serif;
}

body{
background:linear-gradient(135deg,#0f0c29,#302b63,#24243e);
min-height:100vh;
padding:40px;
color:white;
}

/* TITRE */

h1{
text-align:center;
margin-bottom:40px;
font-size:2.5rem;
}

/* CONTAINERS */

.form-section,
.list-section{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
padding:30px;
max-width:750px;
margin:25px auto;
border-radius:18px;
box-shadow:0 0 25px rgba(0,0,0,0.4);
}

/* TITRES */

h2{
margin-bottom:20px;
color:#c77dff;
}

/* INPUTS */

input{
width:100%;
padding:12px;
margin-bottom:12px;
border:none;
border-radius:8px;
outline:none;
background:#1e1e2f;
color:white;
font-size:1rem;
}

input::placeholder{
color:#aaa;
}

/* BUTTON */

button{
background:linear-gradient(90deg,#7f5cff,#c77dff);
color:white;
border:none;
padding:12px 22px;
border-radius:30px;
cursor:pointer;
font-size:1rem;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

/* TABLE */

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
color:#c77dff;
text-align:left;
padding-bottom:10px;
}

td{
padding:12px 5px;
border-bottom:1px solid rgba(255,255,255,0.1);
}

/* ACTION BUTTONS */

.action-btn{
margin-right:6px;
padding:6px 12px;
font-size:0.9rem;
border-radius:20px;
}

.action-btn:first-child{
background:#22c55e;
}

.action-btn:last-child{
background:#ef4444;
}

.action-btn:hover{
opacity:0.8;
}
